{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block main %}
    <ul style="list-style:none;padding-left:0;">
        {% for video in videos %}
            <li style="border-bottom:1px solid #eee;overflow:hidden;padding:10px 0;">
            <div clas="avatar-group" style="width:38px;height:100%;float:left;">
                <img src="{{ url_for('static',filename='images/img2.jpg') }}" alt="" class="avatar"
                style="width:38px;height:38px;border-radius:50%;">
            </div>
            <div class="video-group" style="float:left;width:660px;margin-left:10px;">
                <p class="video-name" style="color:#259;font-weight:900;"><a href="{{ url_for('detail',video_id=video.id) }}">{{ video.name }}</a></p>
                <p class="video-content">{{ video.content }}</p>
                <div class="video-info" style="text-align:right;">
                    <span class="video-author" style="margin-right:20px;">{{ video.author.username }}</span>
                    <span class="video-time">{{ video.create_time }}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}